.App {
  /* text-align: center; */
}
body {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  /* Adjusts the size to cover the entire element */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  height: 100vh;
  /* Sets the height of the element to 100% of the viewport height */
  width: 100%;
  /* Sets the width of the element to 100% */
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  z-index: 1;
  /* Ensures the overlay is on top of the background image */
}

.background-image>* {
  position: relative;
  z-index: 2;
  /* Ensures content is above the overlay */
}

.prophecy-div{
  background-image: url('/public/images/prophecy.png');
  background-size: contain;
  /* Adjusts the size to cover the entire element */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  height: 16vh;
  /* Sets the height of the element to 100% of the viewport height */
  /* Sets the width of the element to 100% */
}
.vault-div{
  background-image: url('/public/images/vault.png');
  background-size: contain;
  /* Adjusts the size to cover the entire element */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  height: 16vh;
  /* Sets the height of the element to 100% of the viewport height */
  /* Sets the width of the element to 100% */
}
#starter_div{

}

.Air-starter{
  background-image: url('/public/images/air.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Earth-starter{
  background-image: url('/public/images/earth.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Fire-starter{
  background-image: url('/public/images/fire.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Water-starter{
  background-image: url('/public/images/water.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Light-starter{
  background-image: url('/public/images/light.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Darkness-starter{
  background-image: url('/public/images/dark.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Order-starter{
  background-image: url('/public/images/order.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}
.Chaos-starter{
  background-image: url('/public/images/chaos.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 16vh;
}